if hash guix 2>/dev/null; then
  # If Guix is available, use it to provide some of the dependencies
  use guix --ad-hoc \
      python-wrapper python-virtualenv awscli groff \
      gcc@4.9.4 gcc@4.9.4:lib libyajl

  # Need to make something find libstdc++
  export LD_LIBRARY_PATH="$LIBRARY_PATH"
fi

# Try using Python 3.4 by default, but fallback to other other names
# if this doesn't exist.
PYTHON=$(type -p python3.4 || type -p python3 || type -p python)

layout python $PYTHON

export DATADIR="data"
export METADATA_LIST='["document_type", "first_published_at", "publishing_app", "primary_publishing_organisation"]'
export LOGGING_CONFIG="$PWD/python/logging.conf"

export S3BUCKET="s3://buod-govuk-taxonomy-supervised-learning"
export AWS_PROFILE="gds-data"

# By default, use the public Rummager and Content Store
export PLEK_SERVICE_RUMMAGER_URI=https://gov.uk/api/
export PLEK_SERVICE_DRAFT_CONTENT_STORE_URI=https://gov.uk/api/

export PYTHONPATH="$PYTHONPATH:$PWD/python"

if [ -d "/usr/local/cuda-8.0" ]; then
    # If running on AWS with a GPU, then enable using it
    export LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64:/usr/local/cuda-8.0/extras/CUPTI/lib64:/lib/nccl/cuda-8:/usr/lib64/openmpi/lib/:/usr/local/lib:/usr/lib:/usr/local/mpi/lib:/lib/:/usr/lib64/openmpi/lib/:/usr/local/lib:/usr/lib:/usr/local/mpi/lib:/lib
fi

if [ -f .local.envrc ]; then
    source_env .local.envrc
fi
